.parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  min-height: 60vh;
  padding: 20px;
  margin: 25px;
  font-weight: 600;
  font-size: medium;
  margin: 12px;
  border-radius: 10px;
  background: #181818;
  box-shadow: 11px 11px 22px #141618, -11px -11px 22px #363a40;
}

.line{
  min-width: 2px;
  min-height: 50vh;
  background-color: whitesmoke;
}

.horizontalLine
{
  min-width: 20vw;
  min-height: 1px;
  background-color: whitesmoke;
}
.triangle{
 
  color: #dd0031;
  animation-name: colorChanger;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes colorChanger {
 0%   {color: #dd0031;}
 25%  {color: #efd81d;}
 50%  {color: #1ba94c;}
 100% {color: #dd0031;}
}
.right {
  height: 100%;
  min-width: 20vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  min-height: 60vh;
  padding: 20px;
  margin: 25px;
  font-weight: 600;
  font-size: medium;
  margin: 12px;
  border-radius: 10px;
  background: #181818;
  box-shadow: 11px 11px 22px #141618, -11px -11px 22px #363a40;
}
 button {
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid black;
  font-weight: 600;
  font-size: medium;
  margin: 12px;
  border-radius: 5px;
}
 button:hover {
  background-color: #1f1f1f;
  color: whitesmoke;
  transition: all 0.2s linear;
}

.left h4:hover{
 color:#1ba94c ;
 font-size :20px;
 transition: all 0.2s linear;
}
.left{
    margin-left: 50px;
    width: 50vw;
}

.left>h2{
  margin-bottom: 25px;
}